<table>
    <tr>
        <td>
            <a href="{{site.baseurl}}/kasm/pages/intro">
                <img src="{{site.baseurl}}/images/kasm/kasmv2.png" height="120" alt="Intro">
            </a>
        </td>

        <td><a href="{{site.baseurl}}/kasm/userguide"> User Guide</a></td>        <td class="dropdown">
            <a class="dropbtn">Multi-Server</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/kasm/multiserver/development">Development Guide</a>
                <a href="{{site.baseurl}}/kasm/multiserver/install">Install Servers</a>
                <a href="{{site.baseurl}}/kasm/multiserver/autoscale">Autoscale Config</a>
                <a href="{{site.baseurl}}/kasm/multiserver/persistent">S3 Persistence</a>
                <a href="{{site.baseurl}}/kasm/multiserver/workspace-registry">Workspace Registry</a>
                <a href="#">Zones</a>
            </div>
        </td>
        <td class="dropdown">
            <a class="dropbtn">Workspaces</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/kasm/workspaces/container-build">Container Building</a>
                <a href="{{site.baseurl}}/kasm/workspaces/dockerhub">DockerHub Push</a>
                <a href="{{site.baseurl}}/kasm/workspaces/registry">Registry</a>
            </div>
        </td>
        <td class="dropdown">
            <a class="dropbtn">Database</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/kasm/database/rds">RDS Setup</a>
                <a href="{{site.baseurl}}/kasm/database/migration">Database Migration</a>
                <a href="{{site.baseurl}}/kasm/database/api">Kasm APIs</a>
            </div>
        </td>       
    </tr>
</table>

<!-- Fixed Position Box -->
<div class="fixed-links-box">
    <h3>QUICK ACCESS</h3>
    <a href="{{site.baseurl}}/duallogin" target="_blanki" rel="noopener">NCS Login/SignUp</a>
    <a href="http://kasm.nighthawkcodingsociety.com" target="_blank" rel="noopener">KASM Workspaces</a>
</div>
<style>
{{ '@import "beasts/inline/includes/includes-nav-kasm-cloud-1";' | scssify }}
</style>
